{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div>
    <h2>New Item</h2>
    <form action="/item" method="post">
      <div class="input-group">
        <input type="text" name="title" id="title" required />
        <div class="input-group-append" id="button-addon4">
          <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
      </div>
    </form>
  </div>

  <div class="mt-5">
    <h2>My To-Dos</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            Item
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in view_model.items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>
            {% if item.status == 'To Do' %}
            <form action="{{ url_for('complete_item', item_id=item.id) }}" method="post" >
              <button type="submit" class="btn btn-primary">Mark as done</button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}