{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div>
    <h2>Add a new item</h2>
    <form action="/item" method="post">
      <div class="input-group">
        <input type="text" name="title" id="title" required />
        <div class="input-group-append" id="button-addon4">
          <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.to_do_items %}
          <li>
            <div>{{ item.name }}</div>
            <form action="{{ url_for('complete_item', item_id=item.id) }}" method="post" >
              <button type="submit">Mark as done</button>
            </form>
          </li>
        {% endfor %}
      </ul>
      <h2>Doing</h2>
      <ul>
        {% for item in view_model.doing_items %}
          <li>
            <div>{{ item.name }}</div>
            <form action="{{ url_for('complete_item', item_id=item.id) }}" method="post" >
              <button type="submit">Mark as done</button>
            </form>
          </li>
        {% endfor %}
      </ul>
      <h2>Done</h2>
      <ul>
        {% for item in view_model.done_items %}
          <li>
            <div>{{ item.name }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}